{% extends 'back/base.html' %}
{% load static %}

{% block contentblock %}

 <!-- Datatables Header -->
                        <ul class="breadcrumb breadcrumb-top">
                            <li>Coupons</li>
                            <li><a href="/b2n/coupon/edit/{{ pk }}/">Edit</a></li>
                        </ul>
                        <!-- END Datatables Header -->

 <!-- END Forms General Header -->

                       <div class="row">
                            <div class="col-md-12">
                                <!-- Basic Form Elements Block -->
                                <div class="block">
                                    <!-- Basic Form Elements Title -->
                                    <div class="block-title">
                                        <div class="block-options pull-right">
                                            <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default toggle-bordered enable-tooltip" data-toggle="button" title="Toggles .form-bordered class">No Borders</a>
                                        </div>
                                        <h2><strong>Edit</strong> Coupon</h2>
                                    </div>
                                    <!-- END Form Elements Title -->

                                    <!-- Basic Form Elements Content -->
                                    <form action="{%url 'couponEdit' pk %}" method="post" enctype="multipart/form-data" class="form-horizontal form-bordered">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="txtcouponcode">Coupon Code</label>
                                            <div class="col-md-9">
                                                <input type="text" id="txtcouponcode" name="couponcode" class="form-control" placeholder="{{ coupon.coupon_code }}">
<!--                                                <span class="help-block">This is a help text</span>-->
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="txtStartDate">Start Date</label>
                                            <div class="col-md-9">
                                                 <input type="text" id="txtStartDate" name="startDate" class="form-control" placeholder="Enter Start date " value="{{ coupon.start_date|date:'d-m-Y' }}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="txtEndDate">End Date</label>
                                            <div class="col-md-9">
                                                 <input type="text" id="txtEndDate" name="endDate" class="form-control" placeholder="Enter end date " value="{{ coupon.end_date|date:'d-m-Y' }}"/>
                                            </div>
                                        </div>
                                         <div class="form-group">
                                            <label class="col-md-3 control-label" for="txtDiscountPercent">Discount Percentage</label>
                                            <div class="col-md-9">
                                                <input type="text" id="txtDiscountPercent" name="discPercent" class="form-control" placeholder="Enter Discount Percentage" value="{{ coupon.disc_percent }}"/>
                                            </div>

                                        </div>
                                         <div class="form-group">
                                            <label class="col-md-3 control-label" for="txtMinOrderAmt">Order Amount(Minimum)</label>
                                            <div class="col-md-9">
                                                <input type="text" id="txtMinOrderAmt" name="discMinOrderAmount" class="form-control" placeholder="Enter order amount" value="{{ coupon.disc_min_order_amount }}"/>
                                            </div>

                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="txtDiscountMaxAmtLimit">Discount Amount Limit(Maximum)</label>
                                            <div class="col-md-9">
                                                <input type="text" id="txtDiscountMaxAmtLimit" name="discMaxLimit" class="form-control" placeholder="Enter maximum amount limit for discount" value="{{ coupon.disc_max_limit }}"/>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Status</label>
                                            <div class="col-md-9">
                                                 <div class="checkbox">
                                                     <label for="chkStatus">
                                                        <input type="hidden" name="chkStatus" value="{% if coupon.isActive == True %}1{% else %}0{% endif %}" ><input type="checkbox" id="chkStatus" onclick="this.previousSibling.value=1-this.previousSibling.value" {% if coupon.isActive == True %}checked{% endif %}>Is Active
                                                    </label>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group form-actions">
                                            <div class="col-md-9 col-md-offset-3">
                                                <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-angle-right"></i> Submit</button>
                                                <button type="reset" class="btn btn-sm btn-warning"><i class="fa fa-repeat"></i> Reset</button>
                                            </div>
                                        </div>
                                    </form>
                                    <!-- END Basic Form Elements Content -->
                                </div>
                                <!-- END Basic Form Elements Block -->
                            </div>
                       </div>
{% endblock %}


{% block javascriptblock %}
         <!-- Load and execute javascript code used only in this page -->
        <script src="{%static 'back/' %}js/pages/formsGeneral.js"></script>
        <script>$(function(){ FormsGeneral.init(); });</script>
{% endblock %}