{% extends 'back/base.html' %}
{% load static %}

{% block contentblock %}

 <!-- Datatables Header -->
<!--                        <div class="content-header">-->
<!--                            <div class="header-section">-->
<!--                                <h1>-->
<!--                                    <i class="fa fa-table"></i>Datatables<br><small>HTML tables can become fully dynamic with cool features!</small>-->
<!--                                </h1>-->
<!--                            </div>-->
<!--                        </div>-->
                        <ul class="breadcrumb breadcrumb-top">
                            <li>Brands</li>
                            <li><a href="/b2n/brands/list">List</a></li>
                        </ul>
                        <!-- END Datatables Header -->

                        <!-- Datatables Content -->
                        <div class="block full">
                            <div class="block-title">
                                <h2><strong>Brands</strong> List</h2>
                            </div>
                            <div class="table-responsive">
                                <table id="example-datatable" class="table table-vcenter table-condensed table-bordered">
                                    <thead>
                                        <tr>
                                            <th class="text-center">ID</th>
<!--                                            <th class="text-center"><i class="gi gi-user"></i></th>-->
                                            <th>Name</th>
                                            <th>Vendor</th>
                                            <th>IsActive</th>
                                            <th class="text-center">Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for bd in brands %}
                                        <tr>
                                            <td class="text-center">{{ bd.id }}</td>
<!--                                            <td class="text-center"><img src="img/placeholders/avatars/avatar15.jpg" alt="avatar" class="img-circle"></td>-->
                                            <td><a href="javascript:void(0)">{{ bd.name }}</a></td>
                                            <td>{{ bd.vendorInfo }}</td>
                                            <td><span class="label label-info">{{ bd.isActive }}</span></td>
                                            <td class="text-center">
                                                <div class="btn-group">
                                                    <a href="{%url 'brandEdit' pk=bd.id %}" data-toggle="tooltip" title="Edit" class="btn btn-xs btn-default"><i class="fa fa-pencil"> Edit</i></a>
                                                    <a href="{%url 'brandDelete' pk=bd.id %}" data-toggle="tooltip" title="Delete" class="btn btn-xs btn-danger"><i class="fa fa-times"> Delete</i></a>
                                                </div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- END Datatables Content -->

{% endblock %}


{% block javascriptblock %}
    <!-- Load and execute javascript code used only in this page -->
        <script src="{%static 'back/' %}js/pages/tablesDatatables.js"></script>
        <script>$(function(){ TablesDatatables.init(4); });</script>
{% endblock %}